* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: #f9f9f9;
      color: #333;
      text-align: center;
    }

    header {
      background-color: #222;
      color: white;
      padding: 15px;
      position: sticky;

    }

    nav {
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      padding: 10px;
    }

    nav a:hover {
      border-bottom: 2px solid #ffa500;
    }

    .soporte-btn {
      position: fixed;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background: #f39c12;
      color: white;
      padding: 14px 18px;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      z-index: 2000;
    }

    .soporte-btn:hover {
      background: #e67e22;
    }

    .contenido {
      margin-top: 60px;
    }
    
    .menu-desplegable {
      position: relative;
      display: inline-block;
    }
    
    .menu-desplegable-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 180px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .menu-desplegable-content a {
      color: black;
      padding: 10px 16px;
      text-decoration: none;
      display: block;
    }
    
    .menu-desplegable-content a:hover {
      background-color: #b8b6b6;
    }
    
    .menu-desplegable:hover .menu-desplegable-content {
      display: block;
    }
    
    .menu-desplegable > a {
      display: inline-block;
      padding: 10px 15px;
      text-decoration: none;
      color: inherit;
      font-weight: bold;
      vertical-align: middle;
    }