:root {
    --primary: #f39c12;
    --primary-dark: #e67e22;
    --bg-light: #f9f9f9;
    --bg-white: #ffffff;
    --text-dark: #333;
    --text-light: #666;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Segoe UI', sans-serif;
    background: var(--bg-light);
    color: var(--text-dark);
    line-height: 1.6;
  }

  header {
    background-color: #222;
    color: white;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
  }

  nav a:hover {
    border-bottom: 3px solid var(--primary);
  }

   .stats {
    background: url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d') no-repeat center center/cover;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
    flex-wrap: wrap;
    text-align: center;
  }

  .stat {
    margin: 20px;
  }

  .stat h2 {
    font-size: 2.5rem;
  }

  .stat p {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  
  .soporte-btn {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: var(--primary);
    color: white;
    padding: 14px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: var(--shadow);
    z-index: 2000;
    transition: background 0.3s;
  }

  .soporte-btn:hover {
    background: var(--primary-dark);
  }

  footer {
    background: #222;
    color: #ccc;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    margin-top: 40px;
  }
 
  .menu-desplegable {
    position: relative;
    display: inline-block;
  }
  
  .menu-desplegable-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menu-desplegable-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menu-desplegable-content a:hover {
    background-color: #b8b6b6;
  }
  
  .menu-desplegable:hover .menu-desplegable-content {
    display: block;
  }
  
  .menu-desplegable > a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    vertical-align: middle;
  }
    /* Boton volver hacia atrás */
.boton-volver-container {
  text-align: center;
  margin: 40px 0;
}

.boton-volver {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-volver:hover {
  background-color: darkorange;
}
